body { 
  font-family: Helvetica;
  font-size: 11pt;
}

.passed { color: #060; }
.failed { color: #C00; }
.time { color: #888; font-size: 9pt; margin-left: 1em; }
.results { }

.testsuite { }
.testcase { }

ol li { }

#dateline {
  font-size: 9pt;
  font-style: italic;
}

.suitename { font-weight: bold; color: blue; }
.casename { color: blue; }