/* CSS Document Plain */

/*  Tag Rewrites **********************************************************/

body {
	margin: 0px;
	padding: 0px;
	font-family: Georgia, times new roman, serif;
	font-size: 76%;
	background-color: #FFFFE0;
	/* background-color: #CDD9F7; */
}

form {
	margin: 0px;
	padding: 0px;
}

a:link {
/*	color: #6886d3; */
	color: #536BA8;
}

a:visited {
	color: #616161;
}

a:focus, a:hover, a:active {
	text-decoration: underline;
	color: #93052A;
	text-decoration: none;
}

a img {
	border: 0px;
}	

td {
	vertical-align: top;
}

acronym {
	border-bottom: dashed 1px #666666 !important;
	padding-bottom: 0px;
}


/* Common Classes ***************************************************************************/

.spacer {
	font-size: 1px;
}

/* layout table for internet pages  ******************************************/

table#mainTable {
	background-color: #ffffff;
	margin-top: 6px !important;
	margin-bottom: 6px;
	margin-left: 6px;
	width: 952px;
	border: 1px solid #666666;
	}

table#popUpSmaller {
	background-color: #ffffff;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
	margin-right: 6px;
	border: 1px solid #666666;
	}

.smallHeading {
	font-size: 0.9em;
	font-weight: normal;
}

div#bottomBanner {
	font-size: 0.9em;
	font-family: Georgia, times new roman, serif;
	border-top: 1px solid #666666;
	background-color: #C3E8C9;
	/* background-color: #cccccc; */
	padding: 6px;
}

/* edited for JCSDA */

div#bottomBanner div.left {
	width: 30%;
	float: left;
	line-height: 200%;
}

div#bottomBanner div.right {
	text-align: right;
	width: 40%;
	float: right;
	line-height: 200%;
}

div#bottomBanner div.rightImages {
	width: 30%;
	float: right;
}

/* end edited for JCSDA */

div.rightImages img {
	padding: 5px 0px 6px 8px;
  line-height: 100%; 
  font-size: 0.9em;
	float: right;
	width: 88px;
	height: 32px;
}

.stylered {
	font-size: 0.8em;
	color: #FF0000;
}

.redBold {
	color: #FF0000;
	font-weight: bold;
}

.text {
	font-size: 1em;
}

.toolBar {
	font-size: 0.9em;
	font-weight: bold;
	color: #ffffff;
	background-color: #888888; 
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	margin: 0px; 
	padding: 3px 8px 3px 8px; 
}

div.toolBar a:link, div.toolBar a:visited {
	color: #ffffff;
	text-decoration: none;
	border: 1px solid #888888;
}

div.toolBar a:focus, div.toolBar a:hover, div.toolBar a:active {
/*	color: #3890D0;  */
	color: #7CCBFF;
	text-decoration: underline;
	border: 1px dotted #7CCBFF;	
}

div.toolBar form {
	display: inline;
	padding: 0px;
	margin: 0px;
}

div.toolBar input {
	font-size: 1em;
}

div.toolBar div.left {
	float: left; 
	width: 60%; 
	text-align: left; 
	margin-top: 3px;
}

div.toolBar div.right {
	float: right; 
	width: 40%; 
	text-align: right;
}

div.toolBar#shortVersion div.left {
	float: left;
	width: 25%;
	text-align: left;
	margin-top: 3px;
}

div.toolBar#shortVersion div.right {
	float: right; 
	width: 75%; 
	text-align: right;
}

.borderColor {
	background-color: #000000;
}

.navMenuColor {
	background-color: #ffffff;
}

.notice {
	font-weight: bold;
	color: #CC0000;
}

ul {
	margin-left: 18px;
	padding: 0px;
	margin-top: 5px;
} 

ul li {
	margin-top: 8px;
	margin-right: 20px;
	list-style-type: none;
	padding-left: 10px;
	background: url(../images/blueBullet.gif) no-repeat top left;
	line-height: 150%;
}

ul li p {
	margin: 3px 0px 3px 0px;
}

ul li ul {
	margin-left: 6px;
	margin-bottom: 5px;
	padding: 0px;
}

ul li ul li {
	list-style-type: none;
	padding-left: 10px;
	background: url(../images/blueBullet.gif) no-repeat top left;
	margin-top: 8px;
	margin-right: 20px;
}

ul.roadmap {
	margin-left: 18px;
	padding: 0px;
	margin-top: 5px;
} 

ul.roadmap li {
	margin-top: 8px;
	margin-right: 20px;
	list-style-type: none;
	padding-left: 12px;
	font-weight: bold;
	font-size: 1.1em;
}

ul.roadmap li ul {
	margin-left: 6px;
	margin-bottom: 5px;
	padding: 0px;
}

ul.roadmap li ul li {
	list-style-type: none;
	padding-left: 12px;
	background: url(../images/blueBullet.gif) no-repeat top left;
	margin-top: 8px;
	margin-right: 20px;
	font-weight: normal;
	font-size: 1em;
}

ul.noMarker {
	margin-left: 6px;
	padding: 0px;
	margin-top: 5px;
} 

ul.noMarker li {
	margin-top: 6px;
	margin-right: 10px;
	list-style-type: none;
	padding-left: 6px;
}

ul.orgChart {
	margin-left: 18px;
	padding: 0px;
	margin-top: 5px;
} 

ul.orgChart li {
	margin-top: 8px;
	margin-right: 20px;
	list-style-type: none;
	padding-left: 12px;
	/* background: url(../images/orgChartConnector.gif) no-repeat top left; */
	line-height: 140%;
}

ul.orgChart li ul {
	margin-left: 6px;
	margin-bottom: 5px;
	padding: 0px;
}

ul.orgChart li ul li {
	list-style-type: none;
	padding-left: 13px;
	background: url(../images/orgChartConnector.gif) no-repeat top left;
	margin-top: 8px;
	margin-right: 20px;
}

.prjMenu {
	color: #0066CC;
}

a.prjMenu {
	color: #0033FF;
}

a.prjMenu:visited {
	color: #d3dfea;
}

a.prjMenu:hover {
	text-decoration: underline;
}


/* News Column ***************************************************************************/

.newsitem a {
	text-decoration:none;
	color: #49729c;
}

.newsitem a:visited {
	text-decoration:none;
	color: #49729c;
}

.newsitem a:hover {
	text-decoration: underline;
}

.newstext {
	padding-left: 10px;
	font-size: 1.1em;
	font-weight: bold;
}

.missiontext {
	font-size: 1.1em;
	line-height: 130%;
	color: #333333;
	font-style: italic;
	margin-top: 2px;
}

p.a-z {
	font-size: 1.2em !important;
	font-weight: bold;
	color: #536ba8;
	margin-bottom: 1em;
	margin-top: 0.5em;
	line-height: 200% !important;
}

p.a-z a:link, p.a-z a:visited {
	color: #536ba8;
	font-size: 1em;
	font-weight: bold;
	text-decoration: underline;
}
	
p.a-z a:focus, p.a-z a:hover, p.a-z a:active {
	color: #93052A;
	font-weight: bold;
	text-decoration: none;
}	
	
/* Footer ********************************************************************/

.contact {
	font-size: 0.7em;
	color: #FFFFFF;
	padding-left: 12px;
}

.contactus {
	color: white !important; 
	text-decoration: underline !important;
}

.copyright {
	font-size: .7em;
}

/**************************/

td#navCell {
	width: 200px;
}

div.leftNav {
	width: 200px;
	display: table;
	background-color: #ffffff;
	padding-bottom: 0px;
	/* padding-bottom: 10px; */
}

div.leftNav ul {
	margin-left: 0px;
	margin-top: 2px;
	margin-bottom: 0px;
	padding: 0px 2px 6px 3px;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	background-color: #FAD860;

	/* background-color: #6886d3; */
}

div.leftNav ul li {
	list-style-type: none;
	background: url(../images/ListBulletBkgd4.gif) no-repeat top left;
	padding: 1px 4px 0px 12px;
	line-height: 130% !important;
}

div.leftNav ul li ul {
	margin-left: 0px;
	margin-top: 1px;
	padding-left: 0px;
	border-top: 0px solid #000000;
	border-bottom: 0px solid #000000;
	border-right: 0px solid #666666;
	background-color: #FAD860;
	/* background-color: #6886d3; */
}

div.leftNav ul li ul li {
	background: url(../images/ListArrow.gif) no-repeat top left;
	padding: 1px 4px 1px 10px;
}

div.leftNav ul li a {
	font-size: 1.1em;
}

div.leftNav ul li ul li a {
	font-size: 1em;
}

div.leftNav ul li a:link, div.leftNav ul li a:visited {
	color: #080895; 
	/* color: #ffffff; */
	font-weight: bold;
	text-decoration: none;
}

div.leftNav ul li a:focus, div.leftNav ul li a:hover, div.leftNav ul li a:active {
	color: #93052A;
	font-weight: bold;
	text-decoration: underline;
}

p.paratext {
	font-size: 1em;
	line-height: 130%;
}

td.mainPanel {
	width: 750px;
	padding: 0px;
	margin: 0px;
}

td.mainPanel#withBackground {
	background-color: #ffffff !important;
	height: 565px;
}

td.mainPanel#bestOf {
	width: 750px;
}

td.mainPanel#bestOf p {
	text-indent: 20px;
	line-height: 150%;
}

td.mainPanel#bestOf img {
	margin-left: 15px;
}

td.mainPanel div.padding {
	padding: 14px 14px 10px 14px;
}

td.mainPanel div.padding#news h2 {
	margin-top: 14px;
	border-top: 2px solid #536BA8;
	padding-top: 8px;
}

td.mainPanel div.padding div.sub_title div.left {
  float: left;
	width: 50%;
}

td.mainPanel div.padding div.sub_title div.right {
    float: right;
		text-align: right;
		width: 50%;
}

td.mainPanel p {
	font-size: 1em;
	line-height: 150%;
	margin: 6px 0px 6px 0px;
}

td.mainPanel h1 {
	color: #080895; 
	/* color: #536BA8; */
	margin-top: 2px;
	padding: 0px;
	font-size: 1.45em;
	letter-spacing: -0.03em;
	font-weight: bold;
	text-align: left;
	}

.mainPanel h2, h2 {
	font-size: 120%;
	font-weight: bold;
	color: #282888;
	margin-bottom: 0px;
	margin-top: 6px;
}

.mainPanel div#overviewPage p {
	margin-top: 1px;
}

.mainPanel div#overviewPage h2 {
	margin-bottom: 0px;
	margin-top: 8px;
	padding-top: 8px;
	border-top: 1px solid #666666;
}

.mainPanel h3 {
	font-size: 110%;
	font-weight: bold;
	color: #000000;
	margin-bottom: 0px;
	margin-top: 8px;
}

.mainPanel table.jobGrid td h3 {
	font-size: 120%;
	font-weight: bold;
	color: #536BA8;
	margin: 3px;
}

.mainPanel h4 {
	font-size: 100%;
	font-weight: bold;
	color: #000000;
	margin-bottom: 0px;
	margin-top: 8px;
	text-align: center; 
	/* this is used as a figure caption! */
}

/* heading inside of lists */ 

ul li h4 {
	font-size: 100%;
	font-weight: bold;
	color: #000000;
	margin-bottom: 0px;
	margin-top: 3px;
	text-align: left; 
	padding-bottom: 0px;
}
	
ul li p {
	margin-top: 1px;
	padding: 0px;
}

div#topBanner {
	width: 770px;
}
		
div#topBanner div.left {
	float: left;
	width: 657px;
	padding: 0px;
	margin: 0px;
}

div#topBanner div.right {
	float: right;
	width: 113px;
	padding: 0px;
	margin: 0px;
}

tr#printBanner {
	display: none;
}

div.clearing {
	clear: both;
}

dl.directory {
	margin-left: 30px;
	border-bottom: 1px solid #999999;
}

dl.directory dt {
	font-size: 1.05em;
	border-top: 1px solid #999999;
	padding-top: 3px;
	padding-left: 5px;
}

dl.directory dd {
	font-weight: bold;
	margin-left: 0px;
	padding-left: 5px;
	margin-bottom: 10px;
	margin-top: 2px;
}

hr {
	padding: 0px;
	border: 0px;
	color: #666666;
	background-color: #666666;
	height: 1px;
	text-align: left;
}

dl.acrolist {
	margin-top: 5px;
	padding: 3px 3px 3px 4px;
}

dl.acrolist dt {
	font-weight: bold;
	color: #333333;
}

dl.acrolist dd {
	margin-left: 5px;
	margin-bottom: 6px;
}

dl.directory {
	margin: 5px;
	padding: 4px;
	border: 1px solid #888888;
}

dl.directory#dir1 {
	margin-left: 5px;
	margin-top: 5px;
	padding: 4px;
	border: 1px solid #888888;
	width: 48%;
}

dl.directory dt {
	font-weight: bold;
	color: #333333;
	margin-left: 3px;
	border: 0px solid #ffffff;
}

dl.directory dd {
	margin-left: 3px;
	margin-bottom: 5px;
	padding-bottom: 3px;
	border-bottom: 1px solid #CACACa;
	font-weight: normal;
}

table.tableGrid, table.jobGrid {
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
}

table.tableGrid td, table.jobGrid td, table.tableGrid th {
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
	padding: 6px;
}

table.tableGrid th {
	background-color: #FFFFE0;
}

table.jobGrid th {
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
	padding: 6px;
	text-align: left;
}

table.jobGrid#GOESAOD {
	margin: 0px auto 0px auto;
}

table.jobGrid#GOESAOD td, table.jobGrid#GOESAOD th {
	text-align: center;
}

ul.breadcrumbs {
	padding: 0px 2px 6px 2px;
	margin: 0px 0px 10px 0px;
	border-bottom: 1px solid #666666;
	}
	
ul.breadcrumbs li {
	list-style-type: disc;
	color: #536BA8;
	margin: 0px;
	font-weight: bold;
	font-size: 0.9em;
	display: inline;
	padding: 1px;
	background-image: none;
}	

div.floatBox {
	border-bottom: 1px solid #666666;
}

div.floatBox div.left {
	width: 500px;	
	float: left;
}

div.floatBox div.right {
	width: 220px;
	float: right;
}

div.floatBox#home {
	border-bottom: 0px solid #666666;
}

div.floatBox#bios {
	border-bottom: 1px solid #666666;
	padding-bottom: 10px;
}

div.floatBox#home div.left {
	width: 44%;	
	float: left;
}

div.floatBox#home div.right {
	width: 53%;
	float: right;
}

div.floatBox#bios div.right {
	padding-bottom: 10px;
}

div.floatBox#directories {
	border-bottom: 0px solid #ffffff;
}

div.floatBox#directories div.left {
	width: 50%;
}

div.floatBox#directories div.right {
	text-align: right;
	width: 50%;
}

div.corpBox {
	display: table;
	width: 100%;
}

div.corpBox div.left {
	width: 62%;	
	float: left;
}

div.corpBox div.right {
	margin-left: 1%;
	width: 35%;
	float: right;
	border: 1px solid #282888;
	padding-top: 0px;
}

div.corpBox div.right h3 {
	padding-top: 2px;
	margin-top: 0px;
}

div.corpBox ul.contentList {
	margin-left: 6px;
}

div.corpBox ul.contentList li ul {
	margin-left: 2px;
}

div.corpBox ul.contentList li {
	margin-right: 5px;
	margin-top: 3px;
}

p.dirLinks {
	padding-left: 60px;
	margin: 2px;
	text-indent: -40px;
	line-height: 2em;
}

div.navigatorLinks {
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	display: table;
	margin-top: 15px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.detailContainer {
	background-color: #FAD860;
	margin-right: 0px !important;
	/* background-color: #6886d3; */
}

.showDetailContainer {
	display: block !important;
	list-style-type: none;
	background-color: #FAD860 !important;
	/* background-color: #6886d3; */
}

ul.showDetailContainer li ul li {
	display: block !important;
	list-style-type: none;
	background-color: #FAD860 !important;
	/* background-color: #6886d3; */
}

ul.showDetailContainer li {
	margin-right: 4px !important;
}

.showDetailContainer ul, .showDetailContainer ul li ul {
	background-color: #FAD860 !important;
	margin-top: 3px !important;
	padding-top: 0px !important;
	/* background-color: #6886d3; */
}

/* detailContainer for acronyms; white bkgd. */

.acroContainer {
	background-color: #ffffff;
}
/* end of detailContainer for acronyms */

.showDetailContainer ul li, .showDetailContainer ul li ul li {
	/* display: list-item; */
	list-style-type: none;
	margin-top: 0px !important;
	padding-top: 0px !important;
	background-color: #FAD860 !important;
	/* background-color: #6886d3; */
}

a#activeLink:link, a#activeLink:visited, a#activeLink:focus, a#activeLink:hover, a#activeLink:active  {
	color: #93052A;
	background-color: #FAD860 !important;
	/* background-color: #6886d3; */
	font-weight: bold;
	text-decoration: underline;
}

div.searchBox {
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	background-color: #C3E8C9;
	/* background-color: #e4e4e4; */
	margin-top: 2px;
	margin-bottom: 10px;
}

div.searchBox form {
	padding: 4px 5px 4px 5px;
}

div.searchBox fieldset, form#smallSearch fieldset {
	padding: 0px;
	border: 0px;
	margin: 0px;
}

div.searchBox h3 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 1px 2px 2px 1px;
}

div.searchBox input#query-field {
	width: 150px;
	color: #666666;
}

div.searchBox input#Go {
	width: 3em; 
	font-size: 10px; 
	font-weight: bold;
}

div.searchBox p {
	text-align: center;
	font-weight: bold;
	margin: 2px;
}

a.directoryLetter:link, a.directoryLetter:visited {
	border: 1px solid #93052A;
	background-color: #F3DCE2;
	padding: 3px 5px 3px 5px;
	color: #93052A !important;
}	

a.dlReset:link, a.dlReset:visited {
	color: #536ba8;
	font-size: 1em;
	font-weight: bold;
	text-decoration: underline;
}
	
a.dlReset:focus, a.dlReset:hover, a.dlReset:active {
	color: #93052A;
	font-weight: bold;
	text-decoration: none;
}	

div#skipNav {
	position: absolute;
	top: 17px;
	left: 480px;
	margin: 0px;
	padding: 0px;
	width: 14em;
	height: 2em;
}

img.bordered {
	border: 1px solid #666666;
}

h3.noscriptWarning {
	padding: 8px;
	margin: 2px;
	border: 1px solid red;
	color: red;
	font-size: 1em;
}

span#jsDependent {
	display: none;
}

a.imageButton:link img, a.imageButton:visited img {
	border: 2px solid #ffffff;
}

a.imageButton:focus img, a.imageButton:hover img, a.imageButton:active img {
	border: 2px solid #282888;
}

/* columns that wrap 'across' */
ul.HColWrap {
	width: 100%;
	margin-left: 0.4em;
	padding-left: 0em;
}

/* float & allow room for the widest item */
ul.HColWrap li {
    float: left;
    width: 15em;
    padding-left: 0em;
    padding-right: 1em;
    list-style-type: none;
    padding-bottom: 0.3em;
}

/* separate the list from subsequent markup */
div.colWrapper {
		width: 100%;
    margin-bottom: 0em;
}

h3.corpBlock {
	color: #E1A010; 
	border-top: 1px dotted #666666;
	padding-top: 5px;
}

.smaller_text, p.smaller_text {
	font-size: 0.8em !important;
	line-height: 1.1em !important;
}

div.AQthumbnail {
	border: 1px solid #666666;
	margin-right: 12px;
	margin-bottom: 20px;
	float: left;
	width: 250px; text-align: center;
}

div.AQthumbnail img {
	border: 1px solid #666666;
	margin-bottom: 10px;
}

div.expanded ul li ul.detailContainer {
	display: block !important;
}

div.expanded ul li ul.detailContainer li ul.detailContainer {
	display: block !important;
}

span.unlinkedHeading {
	font-size: 1.1em;
	color: #ffffff;
	font-weight: bold;
}

table.calendarGrid {
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
}

table.calendarGrid td {
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
	background-color: #ffffff;
	padding: 3px 1px 3px 1px;
	text-align: center;
	width: 2em;
}

table.calendarGrid th {
	border-bottom: 2px solid navy;
	border-right: 1px solid #666666;
	background-color: #fdffed;
	padding: 3px 1px 3px 1px;
	text-align: center;
}

table.calendarGrid td a:link, table.calendarGrid td a:visited, table.calendarGrid td a:active {
	font-weight: bold;
}

/* JCSDA Styles  */

div#skipNavJCSDA {
	position: absolute;
	top: 72px;
	left: 770px;
	margin: 0px;
	padding: 0px;
	width: 14em;
	height: 2em;
}
	
div#skipNavJCSDA a, div#skipNav a {
	font-weight: bold;
	padding: 8px;
	display: block;
}

div#skipNavJCSDA a:focus, div#skipNavJCSDA a:hover, div#skipNav a:focus, div#skipNav a:hover  {
	border: 1px dotted #666666;
}

div#skipNavJCSDA a:link, div#skipNavJCSDA a:visited {
	color: #ffffff;
}

table.partnerGrid td {
		border: 1px solid #666666;
		background-color: #9C1A26;
		color: #ffffff;
		font-weight: bold;
		text-align: center;
		padding: 5px;
		}

	table.partnerGrid th h2 {
		margin: 0px;
		padding: 0px;
	}

	table.partnerGrid th {
		margin: 0px;
		padding: 0px;
	}
	
	table.partnerGrid td a:link, table.partnerGrid td a:visited {
	color: #ffffff;
	}

dl.dateList dt {
	font-weight: bold;
	color: navy;
	border-top: 1px dashed #666666;
	padding-top: 4px;
	margin-top: 6px;
	padding-left: 10px;
	font-size: 1.1em;
}

dl.dateList {
	border-bottom: 1px dashed #666666;
	padding-bottom: 6px;
}

div#pubs p {
	text-indent: -30px;
	margin-left: 30px;
}
