/* setup page */
body { font-family: Helvetica, sans-serif; font-size: 12pt; margin: 0; padding: 0; }
div.content { padding: 1em; }
p { line-height: 1.4; }
td p { padding-bottom: 0.5em; }
img { border: 0; }

/* link styles */
a { text-decoration: none; }
a:link, a:visited { color: #0000FF; }
a:hover, a:focus { background: yellow; border-bottom: 1emx dotted #303099; }

/* dir-overview styles */
dt.filename { margin-top: 0.5em; }
dl.file_listing { margin-left: 1em; }

/* titles */
h1, h2, h3, h4 { font-weight:normal; color: #871E31; margin-top: 1.5em; }
h4 { margin-bottom: 0.25em; }
.center { margin-left: auto; margin-right: auto; }
.small { font-family: Verdana, Helvetica, sans-serif; font-size: 90%; }
.smaller { font-family: Verdana, Helvetica, sans-serif; font-size: 80%; }
.smallest { font-family: Verdana, Helvetica, sans-serif; font-size: 70%; }
h1.basename { margin-top: 0; margin-bottom: 0; }
h1.basename span.file-attributes { font-size: 70%; margin-left: 3em; color: #384806; }
h2.directory { font-size: 90%; margin-bottom: 0; }
h2.routine-name { margin-top: 0; margin-bottom: 0; }
p.categories { color: #384806; margin-top: 0; }
span.file_attribute { float: right; color: #384806; margin: 0 0 1em 3em; }
div#file_comments { margin-top: 1em; }

div.routine-details { border: 1px dotted #C0C0C0; margin-top: 1em; padding: 1em; }
span.routine-attributes { font-size: 70%; margin-left: 3em; color: #384806; }
div.details dt { color: #871E31; margin-left: 2em; }
div.details dt span { color: #384806; margin-left: 2em; }
div.details dd { margin: 0.5em 2em 1em 4em; }
a.top { 
	font-family: Verdana, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-weight: bold;
	color: #5070ff; 
	text-transform: uppercase; 
	float: right; 
	margin-left: 1em;
}

/* comments */
.pre { white-space: pre; }

/* code styles */
code { font-family: Monaco, "Courier New", Courier, monospace; }
code.listing { white-space: pre; display: block; margin: -0.75em 0 -0.75em 0; padding: 0 3em 0 1em; font-size: 90%; line-height: 1.4em; }
code.source { white-space: pre; display: block; font-size: 90%; }
code.source span.comments { color: #408080; }
.syntax { margin-top: 1em; margin-left: 1.5em; text-indent: -1.5em; }
.var { font-style: italic; } 
.argument { } /* white-space: nowrap; does not work in Safari (and sometimes not even in Firefox) */

dl.routine-summary dt { margin-bottom: 0.25em; }
dl.routine-summary dd { margin-bottom: 0.5em; margin-left: 2em; }

/* general styles */
ul li { list-style-type: none; }
table { empty-cells: show; }
thead { color: #871E31; }
dd { margin-bottom: 0.35em; }
input, textarea { background: #F3F6ED; border: #E1D6C6 1px solid; padding: 2px 1em 2px 0.5em; }
input.text { background: #FFFFC0; }

div.note { margin: 1em 2em 1em 2em; background: #EFEFEF; border: 1px #A0A0A0 dotted; padding: 0 1em 0 1em; }
p.indent { margin-left: 2em; }

/* An attribute table is a vertical list of name-value pairs. */
table.box { 
  background: #EFEFEF; 
  border: 1px #A0A0A0 dotted; 
  padding-top: 0.75em;
  padding-bottom: 0.75em; 
}
table.attribute { padding-left: 0.75em; padding-right: 0.75em; }
table td { vertical-align: top; }
table.attribute p { margin: 0; }
table td.name { font-style: normal; padding-right: 1.5em; }
ul.fieldslist { padding-top: 0; color: #909090; }
ul.fieldslist li { margin-bottom: 0.25em; }
span.fieldname { color: #000000; }

dl.attribute dt { color: #990000; }

/* header/navbar styles */
div.header { padding: 2em 2em 0 2em; background: #9E9D7B; border-bottom: 2px #262626 solid; }
div.header h1 { color: white; margin:0; font-weight: normal; }
div.header h2 { color: white; margin-top: 0; margin-bottom: 1em; font-weight: normal; font-style: italic; font-size: 100%; }
table.navbar { background: #CCC097; margin: 0; padding: 0; border-bottom: 1px #262626 dotted; width: 100%; }
table.navbar td { padding: 4px 0.5em 3px 0.5em; white-space: nowrap; vertical-align: top; }
table.navbar td.flexible { width: 100%; text-align: right; padding-right: 1em; white-space: nowrap; }
table.navbar td.selected { background: #262626; }
table.navbar td.selected, table.navbar td.selected a { color: white; }
table.navbar a:hover, table.navbar a:focus { background: inherit; border-bottom: 1px solid #303099; }
p.localnavbar { text-align: right; margin: 0.2em 1em 0.2em 0.2em; padding: 0; }

/* CSS graphics styles */
div.box { 
  margin-left: 0.25em; 
  display: inline-block; 
  width: 0.9em; 
  height: 0.9em; 
  vertical-align: -1px;
}
.red { background-color: #A00; }
.orange { background-color: #F40; }
.green { background-color: #480; }

/* index styles */
span.index_type { margin-left: 1em; }
dl.index_listing dd { margin-bottom: 0.5em; margin-left: 2em; }
dl.index_listing dd p { margin-top: 0.2em; margin-bottom: 0em; }

/* search styles */
fieldset { border: #ddd 1px solid; padding: 1em; margin-top: 3em; }
legend { color: #871E31; font-size: 120%; }
label { white-space: nowrap; }
p.description { margin: 2em 2em 1em 2em; }
form table td.name { vertical-align: middle; }
      
/* footer styles */
div.footer { padding: 0.5em 1em 0.5em 1em; background: #EFEFEF; border-top: 1px #A0A0A0 dotted; }
div.footer table { width: 100%; }
div.footer td.right { text-align: right; }